@use "variaveis";

.footer{
    max-width: 1480px;
    height: 100px;
    max-height: 100px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(19, 97, 101);
    color: aliceblue;
    display: flex;
    justify-content: center;
    
    img{
        display: flex;
        justify-content: center;
        max-width: 30px;
        margin-left: 20px;
    }

    &--container{
        max-width: 400px;
        width: 100%;
        height: 80px;
        p{
            display: flex;
            justify-content: center;
            padding-top: 50px;
            font-size: 20px;
            text-shadow: variaveis.$sombras;
            align-items: center;
            }
    }
}

@media only screen and (max-width: 932px){
    .footer{
        &--container{
            p{
                padding-top: 30px;
                font-size: 15px;
            }
        }
    }
}